//////
// Utility variables
//
// Author: seth.h.cohen@gmail.com
//////

// Typography
$font-base: 'Lato', Calibri, Arial, sans-serif;
$font-alt: serif;

// Colors
$bg-color--primary: #BAABFA;
$bg-color--light: #C8C8C8;

$border-color--primary: #D8D8D8;

$text-color--primary: #1818C8;
$text-color--white: white;
$text-color--dull: #C8C8C8;

// Media queries
$small: "only screen and (max-width : 368px)";
